html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

@media (min-width:320px){
  main{
    width: 300px;
  }
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #244751;
  background-color: #eee;
}

main {
  width: 450px;
  background-color: white;
  /*margin: 80px auto 0px;*/
  margin: 60px auto 0px;
  padding: 30px;
}

body{
  background-color: #eee
}

body .counter{
  float: right;
}