.new-tweet{
  border-radius: 5px;
  background-color:lightgray;
  height: 130px;
  display: none;
}

.new-tweet form{
  width: 90%;
  margin: 0 auto;
}

.new-tweet textarea{
  width: 100%
}

.new-tweet h2{
  padding: 10px 10px 0px 10px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.new-tweet hr{
  margin-top: 0px;
}

.lblCountRed{
color: red;
}